  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h4><a href="#">Troféu Reitor 2013, escolhe a tua modalidade, organiza a tua equipa e inscreve-te!</a></h3>
        <h6>(Pub. Abr/2013) </h6>
 
        <div class="row">
          <div class="large-6 columns">
            <p>Decorrerá em Maio e Junho deste ano, como é habitual, mais uma edição do Troféu Reitor da Universidade do Minho. Este evento, que é já uma tradição na nossa academia, completa este ano o seu 18º aniversário, sendo a competição desportiva de mais prestígio intra-muros que junta através do desporto a maioria dos cursos da UMinho</p>
           <p>Em prova estarão 16 modalidades - cinco coletivas (Futsal Feminino e Masculino, Andebol Misto, Basquetebol Misto, e Voleibol de Praia) e onze individuais (Badminton, BodyBoard, Bilhar, Escalada, Matraquilhos, Ténis, Ténis de Mesa, Squash, Padel, Surf e Xadrez).</p>

           <p>Nas modalidades coletivas a competição será de 13 maio a 6 de junho, nas modalidades individuais decorrerá de 20 de maio a 6 de junho. As inscrições decorrem de 29 de abril a 17 de maio para as modalidades individuais.</p>
        <p>Em 2012 estiveram envolvidos 725 participantes, venham fazer parte também do maior evento desportivo intra-muros.</p>
        <p>Taxas de Inscrição:<p>
        <ul>
			<li>Futsal Masculino: 100 euros</li>
			<li>Restantes Modalidades Coletivas: Entre 40 euros e 60 euros (ver fichas de inscrição)</li>
			<li>Modalidades Individuais: 5 euros</li>
		</ul>
		<p>Regulamentos e fichas de inscrição, podem ser consultadas aqui brevemente.</p>
 
       
          </div>
          <div class="large-6 columns">
            <img src="http://www.dicas.sas.uminho.pt/Images/EditorTextoV2/TR%20web.jpg" />
          </div>
        </div>
 
        
 
      </article>
 
      <hr />
 
     
 
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
   
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->