$GreenA: #009959;
$GreenB: #3ba575;
$Black: #1a1a1a;
$Gray: #323232;
$LightGray: #b7b7b7;

$BackgroundBlack: #222222;

$BLight: white;
$BDark: #EBECEC;
$BText: #939393;

$DarkGreen: #249f5f;
$LightGreen: #2bbb6e;

$BGColor: #f0ede9;