<% (1..4).each do %>
<div class="card-wrapper">
	<div class="header">
		<%= wicked_pdf_image_tag 'header.png' %>
	</div>	
	<div class="card">
		<div class="sides">
			<div>
				<div>
					<div class="name">
						<div>Nome</div>
						<div>Adriano
							<br>Martins</div>
					</div>
				</div>
				<div>
					<div class="course">
						<div>Curso</div>
						<div>LEI</div>
					</div>
				</div>
			</div>
			<div class="photo">
				<%= wicked_pdf_image_tag 'sample_photo.jpg' %>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="sides">
			<div>
				<div class="number">
					<div>Numero</div>
					<div>PG30</div>
				</div>
			</div>
			<div>
				<div class="sport">
					<div>Desporto</div>
					<div>34534</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="footer">
			<%= wicked_pdf_image_tag 'footer.png' %>
		</div>
	</div>
</div>
<% end %>
